<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutTalk"
        tools:targetApi="31">
        <activity
            android:name=".activties.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".activties.LiveFeedActivity"
            android:exported="false" />
        <activity
            android:name=".activties.LiveMatchesActivity"
            android:exported="false" />
        <activity
            android:name=".activties.PlayersActivity"
            android:exported="false" />
        <activity
            android:name=".activties.ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".activties.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activties.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".activties.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activties.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activties.FixturesActivity"
            android:exported="false" />
        <activity
            android:name=".activties.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activties.MainActivity"
            android:exported="false" />
    </application>

</manifest>